*{
    font-family: Arial;
    --input_text_color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
body{
    background-color: #111d38;
}
.main{
    width: 100%;
    margin: auto;
}
.main-background{
    position: absolute;
    z-index: -2;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
}
.page-name{
    padding-left: 20px;
    padding-top: 20px;
    color: #FFFFFF;
    font-size: 18px;
}

.unmoveble{
    position: fixed;
    width: 100%;
    z-index: +1;
}
.unmoveble-menu{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.header{
    height: 60px;
    background-color: #009933;

}

.page-body{
    background-color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 60px;
}
.create-box{
    padding: 15px 15px 0px 15px;
    width: 100%;
}
.create-input{
    width: 100%;
    height: 45px;
    padding: 0px 20px;

    border: 0px solid #cccccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    background: #F3F4F6 !important;
    outline: none;
    color: #525353;
    font-size: 18px;
}
.description-input{
    padding-top: 15px;
    resize: none;
    height: 160px;
}
.ingredient-name{
    width: 53%;
    margin-right: 2%;
}
.ingredient-count{
    width: 20%;
    margin-right: 2%;
}
.ingredient-select{
    width: 20%;
    padding-left: 15px;
    padding-right: 10px;
}
.create-addIngredients-button{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px;
    border-width: 0px;
    color: #FFFFFF;
    background-color: #009933;
    font-size: 18px;
}
.create-box-photo{
    width: 32%;
    display: inline-block;
}
.create-addImg{
    border-width: 0;
    border-radius: 10px;
}


.menu{
    height: 55px;
    background-color: #FFFFFF;
    overflow:hidden;
    white-space: nowrap;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    position: relative;
    z-index: +1;
}
.menu-button{
    text-decoration: none;
    display: inline-block;
    float: left;
    border-width: 0px;
    background-color: #FFFFFF;
    width: 20%;
    padding-top: 6px;
    padding-bottom: 4px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #7D7D7D;
}
.menu-button-active{
    background: rgba(0, 153, 51, 0.05);
    color: #009933;
}
.menu-img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

